<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Player and Position Clustering</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Player and Position Clustering</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>PCA Cluster Chart:</h5>
          
          <div class="PCA-bar" style="position: relative; height:40vh; width:80vw">
            <div id="bar"></div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-3" style="position: relative; width:80vw">
        <div class="well">
          <h5>Cluster ID No.:</h5>
          
          <select id="clusterDataset" onchange="clusterOptionChanged(this.value)"></select>
          <div class="cluster-radar" >
            <div id="clus-radar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">  
      <div class="col-md-4" style="position: relative; width:80vw">
        <div class="well">
          <h5>Position:</h5>
          
          <select id="positionDataset" onchange="positionOptionChanged(this.value)"></select>
          <div class="position-radar">
            <div id="pos-radar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5" style="position: relative; width:80vw">
        <div class="well">
          <h5>Player ID No.:</h5>
          
          <select id="playerDataset" onchange="playerOptionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Player info</h3>
          </div>
          <div id="player-info" class="panel-body"></div>
        </div>
        <div class="player-radar" >
          <div id="pla-radar"></div>
        </div>
      </div>
    </div>
  </div>

  
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/js/app.js"></script>
  

</body>

</html>
